/*
Theme Name: Basetheme
Theme URI: https://tropicaljuice.nl
Author: Sem Schilder
Author URI: https://sem.design
Description: Baseshop theme
Version: 1.0
*/

*{box-sizing: border-box; overflow: auto;font-family: 'Montserrat', sans-serif;text-rendering: optimizeLegibility !important;-webkit-font-smoothing: antialiased !important;}
body{margin: 0px; padding: 0px;}

/* Type */

/* End Type */

/* Various Elements */
.grey-border{border: 1px solid #E9E9E9}
.grey-border__top{border-top: 1px solid #E9E9E9}
.grey-border__bottom{border-bottom: 1px solid #E9E9E9}
p.demo_store {position: initial!important;}

/* End Various Elements */
.btn{display: inline-block;padding: 0.6rem 0.6rem;border-radius: 4px; text-decoration: none;}
.btn__orange{background:#E67E22; color: white; font-weight: 100;}
.btn__small{font-size: 14px;padding: 0.6rem 0.6rem;}

/* header */
.header__grey-bg{background: #FBFBFA;}
.header--top-bar{padding: 0rem 1rem;display: flex; justify-content: space-between;align-items: center;}
.header--logo__svg{margin: 0.8rem 0px;}

	/* USP */
	.header--usp{padding: 0px 1rem;}
	.usp--list{margin: 0px; padding: 0px;}
	.usp--list-item, .usp--list-item__featured{display: inline-block; color:#75787C; font-size: 13px; margin-right: 3rem; line-height: 3em;}
	.usp--list-item__featured{color:#4F9307;}
	
	/* Search */
	.search--input{border: 1px solid #BFBFBF;padding: 0.2em 1.5em; font-size: 14px;width: 22rem;}
	.search--input:focus{border: 1px solid #979797;color: #444444;outline: none;}
	.search--input::-webkit-input-placeholder {color:    #D8D9DB;}
	.search--input:-moz-placeholder{color:#D8D9DB;opacity:1;}
	.search--input::-moz-placeholder{color:#D8D9DB;opacity:1;}
	.search--input:-ms-input-placeholder{color:#D8D9DB;}
	.search--buton{padding: 0.67rem 1.2rem;margin-left: -6px; font-size:14px;text-align: center; border:1px solid #BFBFBF;background: white; cursor: pointer;}
	
	/* meta */
	.meta--list{margin: 0px; padding: 0px;display: flex;align-items: center;}
	.meta--list-item{display: inline-block; margin-right: 2rem;}
	.meta--list-item:last-child{margin-right: 0px;}
	.meta--link{font-size:14px; color: #676A6E; text-decoration: none;}
	.meta--link .fa{font-size: 25px;}
	
/* End header */

/* Footer */
.page-footer{background: #FBFBFA;padding: 0rem 2rem;}
.page-foter--copyright{float:right; line-height: 80px; font-size: 13px; color: #676A6E;}
.page-foter--copyright a{color: #676A6E; text-decoration: none;}
.page-foter--copyright:hover a{border-bottom: 1px solid #676A6E;}
	
	/* nav */
	.page-footer--nav{display: inline-block;}
	.page-footer--nav ul{margin: 0; padding: 0;}
	.page-footer--nav li{display: inline-block;}
	.page-footer--nav li a{text-decoration: none; color: #676A6E; font-size: 13px; line-height: 80px; margin-right: 3rem;}

/* End Footer */

/* Page */
.container, #container{max-width: 1060px; margin: 0 auto; padding: 0em 1em 2em 1em}


/* temp */
#sidebar{display: none;}